nav {
    display:flex ;
   justify-content:space-around ;
    align-items:center ;
    padding: 30px;
    margin-left: 6%;
    margin-right: 1%;
    background-color: rgb(250, 250, 233);
    
  } 
  .header1{
    text-align: center;
    font-style: italic;
    color:rgb(7, 10, 20);
   
  }

  ul li{
   
   display: inline-block;
  color: rgb(177, 111, 36);
   font-size:1.1rem;
 
   margin: 10px;
   padding: 5px   ;
   text-decoration: none;
  }

  nav img{
    max-width: 60%;
    height:280px;
    width: 280px;
    border-radius:80%;
    margin-bottom:10px;
    margin-left: -10px;
  }
li img{
  height:30px;
  width: 30px;
  border-radius:80%;
  display: inline;
  margin-left: 10px;
  
}
  li a{
    text-decoration: none;
    color:rgb(35, 35, 185);
    font-size: 1.2rem;
    padding: 20px;
    justify-content:space-around;
  }
  button li{
    text-decoration: none;
    color:white;
    font-size: 0.7rem;
    padding:1px;
    list-style: none;
  }
.card{
   border: 1px solid black;
 border-radius: 10px;
 box-shadow: 5px 5px 5px black;
 padding: 30px;
 margin: 5px 30px;
 text-align: center;
 max-width: 250px;
 display:inline-block ;
 justify-content: center;
 background-color: rgb(225, 225, 245);
 margin-top: 30px ;
 margin-left: 100px;
}
.read-more{
  color:gold;
  font-size: 1.1rem;
  background-color: white;
  border: none;
}
.card .card-text{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  
  font-size: 1.1rem;
}
.card .card-text2{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
   background-color: gold;
  padding: 5px;
  font-style:italic;
  font-size: large;
  font-weight: bold;
}
.card .card-text4{
  font-family: Arial, Helvetica, sans-serif;
  color:rgb(6, 31, 3);
   background-color: rgb(176, 207, 205);
  padding: 8px;
  font-style:italic;
  font-size: large;
}

.card .card-text3{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
   background-color: rgb(238, 238, 238);
  padding: 5px;
  font-style:italic;
  font-size: large;
}
.card .card-text5{
  font-family: Arial, Helvetica, sans-serif;
  color:black;
  font-weight: bold;
  background-color: rgb(148, 204, 148);
  padding: 10px;
  font-size: 1.1rem;
  border-radius: 10px;
}
.main-div{
  display: inline-flex;
  justify-content: center;
}

.View-Page{
  background-color: rgb(180, 180, 224);
  color: white;
  font-size:1.2rem;
  text-decoration: none;
  border-radius: 10px;
  border-color: rgb(23, 23, 71);
   padding:10px;
}
.main-div1{
  display: inline-flex;
  justify-content: center;
}
.card1{
border: 1px solid black;
border-radius: 2px;
box-shadow: 5px 3px 2px rgb(26, 36, 36);
padding: 30px;
margin: 5px 30px;
text-align: center;
max-width: fit-content;
max-height: 870px;
display:inline-block ;
justify-content: center;
background-color: rgb(225, 225, 245);
margin-top: 30px ;
margin-left: 100px;
margin-right: 10px;
}

.card2{
  border: 1px solid black;
border-radius: 2px;
box-shadow: 5px 3px 2px rgb(18, 23, 24);
padding: 30px;
margin: 5px 30px;
text-align: center;
max-width: 450px;
display:inline-block ;
justify-content: center;
background-color: rgba(212, 218, 211, 0.849);
margin-top: 10px ;
margin-left: 10px;
font-size: 20px;
}
.card3{
  border: 1px solid black;
border-radius: 2px;
box-shadow: 5px 3px 2px rgb(18, 23, 24);
padding: 30px;
margin: 5px 30px;
max-height:fit-content;
text-align: center;
max-width: 700px;
display:inline-block;
justify-content: center;
background-color: rgba(212, 218, 211, 0.849);
margin-top: 100px ;
margin-left:200px;
font-size: 15px;
list-style: none;

}
.card3 .card-text2{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
   background-color: rgb(212, 208, 183);
  padding: 5px;
  font-style:italic;
  font-size: 15px;
}

label{
  
  font-size: 1.7rem;
  color: rgb(11, 230, 22);
  font-style: italic;
  font-weight: bold;
}

.View-Page1{
  background-color: rgb(180, 180, 224);
  color: white;
  font-size:1.2rem;
  text-decoration: none;
  border-radius: 10px;
  border-color: rgb(23, 23, 71);
   padding:10px;
   margin-left: 100px;
   justify-content: center;
   display: flex;
}.View-Page2{
    align-items: center;
   justify-content: center;
   display: flex;
}



/* LandScape  Code   */

/* // Small   */
@media screen  and (min-width :400px){
  .card2{
    border: 1px solid black;
  border-radius: 2px;
  box-shadow: 5px 3px 2px rgb(18, 23, 24);
  padding: 20px;
  margin: 5px 30px;
  text-align: center;
  max-width: 350px;
  display:inline-block ;
  justify-content: center;
  background-color: rgba(212, 218, 211, 0.849);
  margin-top: 7px ;
  margin-left: 0px;
  font-size: 20px;
  }
  .card1{
    border: 1px solid black;
    border-radius: 2px;
    box-shadow: 5px 3px 2px rgb(26, 36, 36);
    padding: 30px;
    margin: 5px 30px;
    text-align: center;
    max-width: fit-content;
    max-height: 870px;
    display:inline-block ;
    justify-content: center;
    background-color: rgb(225, 225, 245);
    margin-top: 30px ;
    margin-left: 0px;
    margin-right: 25px;
    }
    .card{
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    padding: 30px;
    margin: 5px 30px;
    text-align: center;
    max-width: 250px;
    display:inline-block ;
    justify-content: center;
    background-color: rgb(225, 225, 245);
    margin-top: 30px ;
    margin-left:10px;
    margin-right: 5px;

   }

   .card1{
    border: 1px solid black;
    border-radius: 2px;
    box-shadow: 5px 3px 2px rgb(26, 36, 36);
    padding: 30px;
    margin: 5px 30px;
    text-align: center;
    max-width: fit-content;
    max-height: 870px;
    display:inline-block ;
    justify-content: center;
    background-color: rgb(225, 225, 245);
    margin-top: 30px ;
    margin-left: 0px;
    margin-right:25px;
    }
}
/* // Extra -- Small   */
@media screen  and (min-width :576px){
  .card2{
    border: 1px solid black;
  border-radius: 2px;
  box-shadow: 5px 3px 2px rgb(18, 23, 24);
  padding: 20px;
  margin: 5px 30px;
  text-align: center;
  max-width: 350px;
  display:inline-block ;
  justify-content: center;
  background-color: rgba(212, 218, 211, 0.849);
  margin-top: 7px ;
  margin-left: 0px;
  font-size: 20px;
  }
  .card1{
    border: 1px solid black;
    border-radius: 2px;
    box-shadow: 5px 3px 2px rgb(26, 36, 36);
    padding: 30px;
    margin: 5px 30px;
    text-align: center;
    max-width: fit-content;
    max-height: 870px;
    display:inline-block ;
    justify-content: center;
    background-color: rgb(225, 225, 245);
    margin-top: 30px ;
    margin-left: 0px;
    margin-right: 25px;
    }
    .card{
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    padding: 30px;
    margin: 5px 30px;
    text-align: center;
    max-width: 350px;
    display:inline-block ;
    justify-content: center;
    background-color: rgb(225, 225, 245);
    margin-top: 30px ;
    margin-left: 70px;
    margin-right: 10px;

   }

   .card1{
    border: 1px solid black;
    border-radius: 2px;
    box-shadow: 5px 3px 2px rgb(26, 36, 36);
    padding: 30px;
    margin: 5px 30px;
    text-align: center;
    max-width: fit-content;
    max-height: 870px;
    display:inline-block ;
    justify-content: center;
    background-color: rgb(225, 225, 245);
    margin-top: 30px ;
    margin-left: 0px;
    margin-right:25px;
    }
}
/* // Medium  */
@media screen  and (min-width :768px){
  .card2{
    border: 1px solid black;
  border-radius: 2px;
  box-shadow: 5px 3px 2px rgb(18, 23, 24);
  padding: 20px;
  margin: 5px 30px;
  text-align: center;
  max-width: 350px;
  display:inline-block ;
  justify-content: center;
  background-color: rgba(212, 218, 211, 0.849);
  margin-top: 7px ;
  margin-left: 0px;
  font-size: 20px;
  }
  .card1{
    border: 1px solid black;
    border-radius: 2px;
    box-shadow: 5px 3px 2px rgb(26, 36, 36);
    padding: 30px;
    margin: 5px 30px;
    text-align: center;
    max-width: 450px;;
    max-height: 870px;
    display:inline-block ;
    justify-content: center;
    background-color: rgb(225, 225, 245);
    margin-top: 30px ;
    margin-left: 0px;
    margin-right: 25px;
    }
    .card{
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    padding: 30px;
    margin: 5px 30px;
    text-align: center;
    max-width:  550px;
    display:inline-block ;
    justify-content: center;
    background-color: rgb(225, 225, 245);
    margin-top: 30px ;
    margin-left: 70px;
    margin-right: 10px;

   }

   .card1{
    border: 1px solid black;
    border-radius: 2px;
    box-shadow: 5px 3px 2px rgb(26, 36, 36);
    padding: 30px;
    margin: 5px 30px;
    text-align: center;
    max-width: fit-content;
    max-height: 870px;
    display:inline-block ;
    justify-content: center;
    background-color: rgb(225, 225, 245);
    margin-top: 30px ;
    margin-left: 0px;
    margin-right:25px;
    }
}
 /*     // Large Resolution  */
@media screen  and (min-width :992px){
  .card2{
    border: 1px solid black;
  border-radius: 2px;
  box-shadow: 5px 3px 2px rgb(18, 23, 24);
  padding: 20px;
  margin: 5px 30px;
  text-align: center;
  max-width: 350px;
  display:inline-block ;
  justify-content: center;
  background-color: rgba(212, 218, 211, 0.849);
  margin-top: 7px ;
  margin-left: 0px;
  font-size:30px;
  }
  .card1{
    border: 1px solid black;
    border-radius: 2px;
    box-shadow: 5px 3px 2px rgb(26, 36, 36);
    padding: 30px;
    margin: 5px 30px;
    text-align: center;
    max-width: 450px;;
    max-height: 870px;
    display:inline-block ;
    justify-content: center;
    background-color: rgb(225, 225, 245);
    margin-top: 30px ;
    margin-left: 0px;
    margin-right: 25px;
    
    }
    .card{
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    padding: 50px;
    margin: 5px 30px;
    text-align: center;
    max-width:  350px;
    display:inline-block ;
    justify-content: center;
    background-color: rgb(225, 225, 245);
    margin-top: 30px ;
    margin-left: 12px;
    margin-right: 10px;
   
   }

   .card1{
    border: 1px solid black;
    border-radius: 2px;
    box-shadow: 5px 3px 2px rgb(26, 36, 36);
    padding: 30px;
    margin: 5px 30px;
    text-align: center;
    max-width: 670px;
    max-height: 270px;
    display:inline-block ;
    justify-content: center;
    background-color: rgb(225, 225, 245);
    margin-top: 30px ;
    margin-left: 40px;
    margin-right:25px;
    }
}

 /*     //  Extra - Large Resolution  */
 @media screen  and (min-width :1200px){
  .card{
    border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  padding: 30px;
  margin: 5px 30px;
  text-align: center;
  max-width: 250px;
  display:inline-block ;
  justify-content: center;
  background-color: rgb(225, 225, 245);
  margin-top: 30px ;
  margin-left: 30px;
  margin-right: 60px;
  
 }
 
 .card1{
  border: 1px solid black;
  border-radius: 2px;
  box-shadow: 5px 3px 2px rgb(26, 36, 36);
  padding: 30px;
  margin: 5px 30px;
  text-align: center;
  max-width: fit-content;
  max-height: 870px;
  display:inline-block ;
  justify-content: center;
  background-color: rgb(225, 225, 245);
  margin-top: 30px ;
  margin-left: 100px;
  margin-right: 10px;
  }
  .card2{
    border: 1px solid black;
  border-radius: 2px;
  box-shadow: 5px 3px 2px rgb(18, 23, 24);
  padding: 30px;
  margin: 5px 30px;
  text-align: center;
  max-width: 450px;
  display:inline-block ;
  justify-content: center;
  background-color: rgba(212, 218, 211, 0.849);
  margin-top: 10px ;
  margin-left: 10px;
  font-size: 20px;
  }
 }